<div class="col">
    <div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title text-truncate"><%= heading[number] %></h5>
        <p class="card-text text-truncate"><%= para[number] %></p>
        <a href="/open-blog/<%= number %>" class="btn btn-primary">Open</a>
    </div>
    </div>
    </div>