
<div class="container my-2"> <div class="position-relative p-5 text-center text-muted bg-body "> <svg class="bi mt-2 mb-3" width="48" height="48" aria-hidden="true"><use xlink:href="#check2-circle"></use></svg> <h1 class="text-body-emphasis">No Blog Posts</h1> <p class="col-lg-6 mx-auto mb-4">
There aren't any blog posts. Why not create one ?
</p> <button class="btn btn-primary px-5 mb-5" type="button">
<a href="/create" style="color:white;text-decoration: none;">Create</a>
</button> </div> </div>
