<html data-bs-theme="dark">
<%- include("partials/header.ejs") %>
<div class="container my-4"> <div class="position-relative p-5 text-center text-muted bg-body "> <svg class="bi mt-4 mb-3" width="48" height="48" aria-hidden="true"><use xlink:href="#check2-circle"></use></svg> <h1 class="text-body-emphasis">Not Submitted</h1> <p class="col-lg-6 mx-auto mb-4">
Enter some title of content. Return to Create.
</p> <button class="btn btn-primary px-5 mb-5" type="button">
<a href="/create" style="color:white;text-decoration: none;">Create</a>
</button> </div> </div>
<%- include("partials/footer.ejs") %>
</html>